{% extends 'base.html' %}

{% block content %}

    <div style="text-align: center; border-radius: 1rem; margin:2rem;">
        <h1 style="font-family: 'Rock Salt', cursive;">
            Hello World LIST!
        </h1>
        <form action="/accounts/hello_world/" method="post">
            {% csrf_token %}
            <div>
                <input type="text" name="hello_world_input">
            </div>
            <input type="submit" class="btn btn-primary" value="POST">
        </form>

        {%  if hello_world_output %}
        <h1>
            {{ hello_world_output.text }}
        </h1>
        {% endif %}
    </div>
{% endblock %}