
<div style="text-align: center";>

    <div class = "pragmatic_header_logo">
        <h1>Main & Sub</h1>
    </div>

    <div class = "pragmatic_header_button">
    <div>
        <span>nav1</span>
        <span>nav2</span>
        <span>nav3</span>

        {% if not user.is_authenticated %}
        <a href="{% url 'accountapp:login' %}?next={{ request.path }}">
            <span>Login</span>
        </a>

        {% else %}
        <a href="{% url 'accountapp:logout' %}"?next={{ request.path }}>
            <span>Logout</span>
        </a>
        {% endif %}
    </div>
</div>