{% extends 'base.html' %}
{% load static %}
{% block content %}

    <style>
        .container div {
          width: 280px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 1rem;
            flex-direction: column;
            box-shadow: 0 0 1rem darkgray;
        }

        div img {
            width : 100%;
            border-radius: 1rem;
        }
    {#.container .item1 { height: 200px; }#}
    {#.container .item4 { height: 800px; }#}
    {#.container .item6 { height: 600px; }#}
    {#.container .item11 { height: 400px; }#}
    </style>
    <div class="container my-5">
        {% for article in article_list %}
            <div>
                <a href="{% url 'articleapp:detail' pk=article.pk %}">
                    <div>
                    <img src="{{ article.image.url }}" alt ="">
                    </div>
                </a>
                <span class="NNS_B m-2">{{ article.title }}</span>
            </div>
        {% endfor %}
{#    </div>#}
{##}
{#    <div class="container my-5">#}
{#      <div class="item1">#}
{#          <img src = "https://picsum.photos/200/300" alt="">#}
{#      </div>#}
{#      <div class="item2">#}
{#          <img src = "https://picsum.photos/200/400" alt="">#}
{#      </div>#}
{#      <div class="item3">#}
{#          <img src = "https://picsum.photos/200/500" alt="">#}
{#      </div>#}
{#      <div class="item4">#}
{#          <img src = "https://picsum.photos/200/120" alt="">#}
{#      </div>#}
{#      <div class="item5">#}
{#          <img src = "https://picsum.photos/200/150" alt="">#}
{#      </div>#}
{#      <div class="item6">#}
{#          <img src = "https://picsum.photos/200/270" alt="">#}
{#      </div>#}
{#      <div class="item7">#}
{#          <img src = "https://picsum.photos/200/580" alt="">#}
{#      </div>#}
{#      <div class="item8">#}
{#          <img src = "https://picsum.photos/200/100" alt="">#}
{#      </div>#}
{#      <div class="item9">#}
{#          <img src = "https://picsum.photos/200/620" alt="">#}
{#      </div>#}
{#      <div class="item10">#}
{#          <img src = "https://picsum.photos/200/410" alt="">#}
{#      </div>#}
{#      <div class="item11">#}
{#          <img src = "https://picsum.photos/200/470" alt="">#}
{#      </div>#}
{#      <div class="item12">#}
{#          <img src = "https://picsum.photos/200/130" alt="">#}
{#      </div>#}
{#      <div class="item13">#}
{#          <img src = "https://picsum.photos/200/480" alt="">#}
{#      </div>#}
{##}
    </div>

    <script src="{% static 'js/magicgrid.js' %}"></script>

    {% include 'snippets/pagination.html' %}

    <div class="text-center my-5">
        <a href="{% url 'articleapp:create' %}"
            class="btn btn-dark rounded-pill material-icons">
            brush
        </a>
        <a href="{% url 'articleapp:create' %}"
            class="btn btn-outline-dark rounded-pill px-5">
            Create Article
        </a>
    </div>

{% endblock %}